<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.aplicacion.guiacastulo"
    android:largeHeap="true">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconocastulo"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:theme="@style/noactionbar"
            android:label="@string/app_name"
          >
        </activity>
        <activity
            android:name=".PantallaCarga"
            android:label="@string/title_activity_pantalla_carga"
            android:theme="@style/AppTheme"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListPuntosInteres"
            android:label="@string/title_activity_list_puntos_interes"
            android:theme="@style/noactionbar"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.aplicacion.guiacastulo.MainActivity" />
        </activity>
        <activity
            android:name=".FichaPuntosInteres"
            android:label="@string/title_activity_ficha_puntos_interes"
            android:theme="@style/noactionbar"
            android:parentActivityName=".ListPuntosInteres" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.aplicacion.guiacastulo.MainActivity" />
        </activity>
        <activity
            android:name=".ListRecorridos"
            android:label="@string/title_activity_list_recorridos"
            android:theme="@style/noactionbar"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.aplicacion.guiacastulo.MainActivity" />
        </activity>
        <activity
            android:name=".DescripcionRecorridos"
            android:label="@string/title_activity_descripcion_recorridos"
            android:theme="@style/noactionbar"
            android:parentActivityName=".ListRecorridos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.aplicacion.guiacastulo.ListRecorridos" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBNC7zNdFMp1mVzh4bJMALLEYb-ulrqVsM" />

        <activity
            android:name=".VistaMapa"
            android:theme="@style/noactionbar"
            android:label="@string/title_activity_vista_mapa" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.aplicacion.guiacastulo.DescripcionRecorridos" />
        </activity>
        <activity
            android:name=".PreferenceActivity"
            android:label="@string/title_activity_preference" >
        </activity>
        <activity
            android:theme="@style/noactionbar"
            android:name=".Utilidades.ImageDialog"
            android:label="@string/title_activity_image_dialog" >
        </activity>
        <activity
            android:theme="@style/noactionbar"
            android:name=".Utilidades.Video"/>
        <activity
            android:theme="@style/noactionbar"
            android:name=".FichaMarcador"
            android:label="@string/title_activity_ficha_marcador" >
            <intent-filter >
                <action android:name="es.aplicacion.guiacastulo.activity.fichamarcador"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
